# Set public/index.php as the default page
DirectoryIndex public/index.php

# Enable Rewrite Engine
RewriteEngine On

# Redirect all requests to public/index.php
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]
